*.env
.idea

admin.conf
deployment.json
docker/awroberts/*.tar

# ignore directories stored on local machine for certs and media
awroberts-certs/
awroberts-media

# ignore local curwen font
CURWENFONT.ttf