body {
    background-color: transparent;
}

.background {
    background-color: #000000;
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: 1;
}

#canvas-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

#email-link {
    display: block;
    position: absolute;
    top: 130px; /* Seems like it should match the lowest possible `yDrip` value */
    left: 100px; /* Matches the `xStart` value from sketch.js */
    width: 200px; /* The width you calculated in sketch.js */
    height: 20px; /* An estimate, adjust as needed */
    z-index: 3;
    background: transparent;
    color: transparent;
    text-decoration: none;
}